<!--Content Wrap -->
<div class="content-wrap">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-header-content">
                        <div class="page-header-inner page-title display-inline-block">
                            <div class="previous-page">
                                <a href="#!/warranty-policy-pkg/warranty-policy/list"><img src="./public/img/content/previous.svg" class="img-responsive"></a>
                            </div>
                        </div><!-- Page Header Inner -->
                        <div class="page-header-inner page-title display-inline-block">
                            <h3 class="title">{{$ctrl.action}} Warranty Policy</h3>
                        </div><!-- Page Header Inner -->
                    </div><!-- Page Header Content -->
                </div><!-- Col Main -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Header -->
    <!-- Page Main Content -->
    <div class="page-main-content">
        <form id="form" autocomplete="off">
            <input type="hidden" name="id" value="{{$ctrl.policy.id}}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-tab-form pb-80">
                            <div class="tab-form-wrap">
                                <div class="tab-form-header">
                                    <div class="tab-header">
                                        <div class="isotope-filters animated" data-animation="fadeInLeft" data-animation-delay="300">
                                            <ul class="nav nav-pills editDetails-tabs">
                                                <li class="active"><a data-target="#general-info" role="tab" data-toggle="tab" aria-expanded="true">General Information</a></li>
                                                <li><a data-target="#policy-details" data-toggle="tab" role="tab" aria-expanded="true">Policy Details</a></li>
                                            </ul>
                                        </div><!-- Filters -->
                                    </div><!-- Tab Header -->
                                </div><!-- Tab Form Header -->
                                <div class="tab-form-body">
                                    <div class="tab-content">
                                        <!-- TAB PANEL -->
                                        <div class="tab-pane fade in active" id="general-info" data-animation="fadeInUp" data-animation-delay="300">
                                            <div class="tab-pane-wrap">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <lable>Policy Code<span class="mandatory">*</span></lable>
                                                            <input type="text" name="code" ng-model='$ctrl.policy.code' class="form-control required" placeholder="Enter Policy Code">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <lable>Policy Name<span class="mandatory">*</span></lable>
                                                            <input type="text" name="name" ng-model='$ctrl.policy.name' class="form-control required" placeholder="Enter Policy Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Active Status<span class="mandatory">*</span></label>
                                                            <md-switch ng-model="$ctrl.switch_value" aria-label="Switch 2" ng-true-value="'Inactive'" ng-false-value="'Active'" class="md-warn">
                                                                {{ $ctrl.switch_value }}
                                                            </md-switch>
                                                            <input type="hidden" name="status" value="{{$ctrl.switch_value}}">
                                                        </div><!-- Field -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="tab-pane-footer text-right">
                                                            <a class="btn btn-grey btn-nxt">Next</a>
                                                            <button type="submit" class="btn btn-secondary submit">Submit</button>
                                                        </div><!-- Tab Footer -->
                                                    </div>
                                                </div><!-- Row -->
                                            </div><!-- Tab Pane Wrap -->
                                        </div><!-- Tab Pane -->
                                        <div class="tab-pane fade" id="policy-details" data-animation="fadeInUp" data-animation-delay="300">
                                            <div class="form-page">
                                                <div class="row">
                                                    <div class="col-lg-9 col-md-8">
                                                        <h6 class="tab-pane-title">Policy Name : <span class="color-secondary-light">{{$ctrl.policy.name}}</span></h6>
                                                        <div class="table-responsive">
                                                            <table class="table table-form">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Type <sup class="mandatory">*</sup></th>
                                                                        <th>Duration <sup class="mandatory">*</sup></th>
                                                                        <th>Duration Type <sup class="mandatory">*</sup></th>
                                                                        <th>More Info</th>
                                                                        <th>Priority <sup class="mandatory">*</sup></th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="(index, policy_detail) in $ctrl.policy_details">
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input type="hidden" name="policy_details[{{index}}][id]" value="{{policy_detail.id}}">
                                                                                <md-select ng-model="policy_detail.warranty_type_id" placeholder="Select Type" data-md-container-class="selectdemoSelectHeader">
                                                                                    <md-select-header class="demo-select-header ng-hide">
                                                                                        <input ng-model="searchWarrantyType" type="search" placeholder="Search Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                                    </md-select-header>
                                                                                    <md-optgroup label="Warranty Type List">
                                                                                        <md-option ng-value="warranty_type.id" ng-repeat="warranty_type in $ctrl.warranty_type_list | filter:searchTravel">{{warranty_type.name}}</md-option>
                                                                                    </md-optgroup>
                                                                                </md-select>
                                                                                <input type="hidden" name="policy_details[{{index}}][warranty_type_id]" value='{{policy_detail.warranty_type_id}}' class="required">
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input type="text" name="policy_details[{{index}}][duration]" ng-model='policy_detail.duration' class="form-control type-sm required" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Enter Duration">
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <md-select ng-model="policy_detail.duration_type_id" placeholder="Select Duration Type" data-md-container-class="selectdemoSelectHeader">
                                                                                    <md-select-header class="demo-select-header ng-hide">
                                                                                        <input ng-model="searchDurationType" type="search" placeholder="Search Duration Type" class="demo-header-searchbox md-text" ng-keydown="$event.stopPropagation()">
                                                                                    </md-select-header>
                                                                                    <md-optgroup label="Duration Type List">
                                                                                        <md-option ng-value="duration_type.id" ng-repeat="duration_type in $ctrl.duration_type_list | filter:searchTravel">{{duration_type.name}}</md-option>
                                                                                    </md-optgroup>
                                                                                </md-select>
                                                                                <input type="hidden" name="policy_details[{{index}}][duration_type_id]" value='{{policy_detail.duration_type_id}}' class="required">
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input type="text" name="policy_details[{{index}}][more_info]" ng-model='policy_detail.more_info' class="form-control type-sm" placeholder="Enter More Info" maxlength="255">
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="form-group">
                                                                                <input type="text" name="policy_details[{{index}}][priority]" ng-model='policy_detail.priority' class="form-control type-sm required" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Enter Priority" min="1" max="999">
                                                                            </div>
                                                                        </td>
                                                                        <td ng-show="index !='0'">
                                                                            <a href="javascript:;" ng-click="removePolicy(index,policy_detail.id)"><img src="./public/img/content/modal/close-circle-active.svg" class="img-fluid" alt="Delete"></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                                <tfoot>
                                                                    <tr>
                                                                        <td colspan="6">
                                                                            <button type="button" class="btn btn-primary-light btn-square" ng-click="add_policy_details()">+ Add Policy Detail</button>
                                                                        </td>
                                                                    </tr>
                                                                </tfoot>
                                                            </table>
                                                            <input type="hidden" name="policy_detail_removal_id" id="policy_detail_removal_id">
                                                        </div><!-- Table Responsive -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="tab-pane-footer text-right">
                                                            <a class="btn btn-grey btn-prev">Previous</a>
                                                            <button type="submit" class="btn btn-secondary submit">Submit</button>
                                                        </div><!-- Tab Footer -->
                                                    </div><!-- Column -->
                                                </div><!-- Row -->
                                            </div><!-- Tab Pane Wrap -->
                                        </div><!-- Tabe Pane -->
                                    </div><!-- Tab Content -->
                                </div><!-- Tab Form Body -->
                            </div><!-- Tab Form Wrap -->
                        </div><!-- Page Tab Form -->
                    </div><!-- Column -->
                </div><!-- Row -->
            </div><!-- Container -->
        </form>
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->